/*------------------------------------------------------------------------------
Writing and Rhetoric Styles for all YUI layout
Version: 1.0
Date: June 3, 2010
Author: Bryce Jackson, Lin Jacskon
*/

/* Main Page Styles */

html {
    background: #fff;
}

body {
    background: #fff url('http://writingandrhetoric.cah.ucf.edu/images/background.jpg') repeat-x center top;
    font-family: Helvetica, Arial, "Myriad Pro", "Trebuchet MS", sans-serif;
}

a:link, a:visited {
    color: #0c8dc9;
    text-decoration: none;
}

a:active, a:hover {
    color: #4e4e4e;
    text-decoration: underline;
}

#UCFHBHeader {
    background: #000 url('http://writingandrhetoric.cah.ucf.edu/images/bc-gradient.png') repeat-x;
}

#UCFHBHeader #UCFtitle {
    background: none;
}

#UCFHBHeader #UCFtitle a {
    background: none;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/ucflogo.png') no-repeat;
}

#UCFHBHeader #UCFHBMy_ucf {
    background: none;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/myucf.png') no-repeat;
}

#UCFHBHeader #UCFHBSearch_ucf input.submit {
    background: none;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/arrow.png');
}

#doc4, #bd, #yui-main, #pagecontent, #navigation {
    background: none;
    border: none;
}

/*
#inner_1, #inner_2, #inner_3, #inner_4, #inner_5, #inner_6, #inner_8, #inner_9, #inner_10, #inner_11
#inner_12, #inner_13{
    text-indent: 25px;
    padding: 5px;
}
*/
p {
    text-indent: 25px;
    padding: 5px;
}

#chart1, #chart2, #chart3, #chart4, #chart5, #chart6, #chart7{
    padding-top: 20px;
    padding-bottom: 20px;
}


#inner_7 {
    padding-top: 15px;
    text-indent: 25px;
}

#image_office, #image_trump, #ping_bling {
    padding-top: 20px;
    padding-bottom: 20px;
}

#root_title, #main_title {
    padding-top: 20px;
    font-weight: bold;
}

#doc4 {
    margin-top: 20px;
}

#hd {

    height: 72px;
    padding: 1px;
    width: 100%;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/header.jpg') repeat-x;
}

#hd h1 {
    width: 974px;
    height: 64px;
    margin: auto;
    text-align: center;
    text-indent: -9999px;
}

.centercontainer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

#war {
    display: block;
    height: 100%;
    width: 330px;
    float: left;
}

#cah {
    display: block;
    height: 100%;
    width: 283px;
}

#slideshow {
    width: 718px;
    height: 232px;
    margin-bottom: 20px;
}

.yui-t2 #yui-main .yui-b {
    margin-left: 16.5em;
    border-left: 1px dotted #d5d6d6;
    padding: .33em 1.5em 0em 1.5em;
}

.events .directoryentry h3 {
    margin: 1.5% 0 1.2% 0;
    border-bottom: 1px solid #BFBFBF;
}

.webvideo {
    min-height: 150px;
}

#yui-main .webvideo a[target^="_blank"], #yui-main .webvideo a[rel^="external"] {
    background-image: none;
    padding-right: 0;
    min-height: 300px;
}

/* Custom Selection Colors */

::selection {
    color: #fff;
    background: #0c8dc9;
}

::-moz-selection {
    color: #fff;
    background: #0c8dc9;
}

/*Body Text Formatting */

#pagecontent h1 {
    font-size: 180%;
    color: #0c8dc9;
    border-bottom: 1px solid #0c8dc9;
    margin-bottom: .75em;
}

#pagecontent h2 {
    color: #000000;
    font-size: 145%;
    border-bottom: 1px dotted #000000;
    margin-bottom: .45em;
}

.spaced li {
    margin-bottom: 1em;
}

.box {
    background-color: #DFF7FF;
    margin-bottom: 1em;
    margin-top: 0em;
}

.box p {
    padding: 6.8px;
}

.test .first {
    border-right: dotted 1px #d5d6d6;
}

.test h2 {
    font-size: 150%;
    color: #0c8dc9;
    border-bottom: 1px solid #0c8dc9;
    margin-right: .65em;
    margin-bottom: .4em;
    line-height: 1.25em;
}

/* ------------------------------------------------------- Callout Div ------------------------------------------------------- */

.callout {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 11px 14px;
    margin-bottom: 25px;
    background-color: #cdeaf7;
}

#pagecontent .callout h2 {
    color: #000;
    border-bottom: 3px solid #0c8dc9;
    padding-bottom: 3px;
    font-size: 165%;
}

.callout a {
    color: #005297;
}

.callout a:hover {
    color: #ffffff;
}

/* ------------------------------------------------------- View More, Catalog BUTTONS ------------------------------------------------------- */

.viewall {
    margin-top: 1.2em;
}

a.viewall {
    color: #FFF;
    font-weight: normal;
    background-color: #0a5ca7;
    padding: 5px 8px;
}

a.viewall:hover {
    background-color: #f12a20;
    text-decoration: none;
}

div.catalog {
    padding: .3em .7em;
    margin-bottom: 1em;
    display: inline-block;
    background-color: #0a5ca7;
    float: right;
    border-radius: .55em;
    -moz-border-radius: .55em;
}

div.catalog a {
    font-size: 118%;
    font-weight: bold;
    text-transform: none;
    color: #fff;
}

#yui-main .catalog a[href$=".pdf"], #pagecontent .catalog a[href$=".pdf"] {
    background-image: none;
    padding: 0;
}

/* ------------------------------------------------------- FOOTER ------------------------------------------------------- */

#ft {
    width: 100%;
    height: 150px;
    padding: 0px;
    padding-top: 84px;
    border: none;
    background: #4e4e4e url('http://writingandrhetoric.cah.ucf.edu/images/footer.png') repeat-x;
    font-family: "Myriad Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#ftmenu {
    width: 974px;
    padding: 2px;
    margin: auto;
    border-bottom: solid 1px #898989;
    margin-bottom: 20px;
}

#ftmenu ul {
    list-style-type: none;
    margin-top: 20px;
}

#ftmenu ul li {
    list-style-type: none;
    border-right: 1px dotted #898989;
    min-height: 75px;
    padding: 0px 15px 0px 15px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#ftmenu ul li.last {
    border: 0px;
}

#ftmenu ul li h3 {
    font-size: 1.0em;
}

#ftmenu a:hover {
    text-decoration: none;
    color: #0c8dc9;
}

#ftmenu ul li h3 a {
    color: #0c8dc9;
}

#ftmenu ul li h3 a:hover {
    color: #d2dadc;
}

#ftmenu ul li ul {
    display: block;
    margin: 0px;
}

#ftmenu ul li ul li {
    display: block;
    font-size: .9em;
    border: 0px;
    min-height: 0px;
    padding: 0px;
}

/* YUI Sclected Target Styles */

#yui-main li:target, #yui-main h1:target, #yui-main h2:target, #yui-main h3:target, #yui-main h4:target, #yui-main h5:target, #yui-main a:target, #yui-main span:target {
    background-color: #DFF7FF;
}

/* YUI Menu */
#navigation {
    width: 15.7em;
}

.yui-skin-sam .yuimenuitem {
    border: none;
    background-color: transparent;
    padding-top: 1px;
    padding-left: 1px;
}

.yuimenuitem, .submenu {
    background-color: transparent;
}

.yui-skin-sam .yuimenu .submenu .yuimenuitem {
    border-bottom: 1px solid #c5c6c6;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/white-transp.png');
}

#survey_link, #effect_link, #root_link, #concept_link, #solution_link, #charts_link {
    color: black;
    font-weight: bold;
}

#survey_link:hover, #effect_link:hover, #root_link:hover, #concept_link:hover, #solution_link:hover, #charts_link:hover {
    color: #00BCFF;
}

#pam_blog, #matt_blog, #dustin_blog, #haley_blog, #daniel_blog {
    color: black;
    font-weight: bold;
}

#pam_blog:hover, #matt_blog:hover, #dustin_blog:hover, #haley_blog:hover, #daniel_blog:hover {
    color: #00BCFF;
}

.yui-skin-sam .yuimenuitemlabel, .yui-skin-sam .yuimenuitemlabel:visited {
    color: #000000;
    padding-left: 0.55em;
}

.yui-skin-sam .yuimenuitemlabel-selected, .yui-skin-sam .yuimenuitemlabel-selected:visited {
    color: #0c8dc9;
}

.yui-skin-sam .yuimenuitem-selected {
    background-color: transparent;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/buttonbg.png');
    background-position: left top;
    background-repeat: no-repeat;
}

.yui-skin-sam .yuimenu h6 {
    color: #0c8dc9;
    background-color: #FFF;
}

#deptcontact {
    border: 0;
}

a.strong {
    font-family: 'Myriad Pro', 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.yui-skin-sam .yuimenuitem-hassubmenu-selected {
    background: url('http://writingandrhetoric.cah.ucf.edu/images/buttonbg-more.png');
    background-repeat: no-repeat;
}

a#homeanchor {
    width: 196px;
    height: 32px;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/home2.png') no-repeat 0px 0px;
    text-indent: -9999px;
}

a#homeanchor:hover {
    background: none;
    background: url('http://writingandrhetoric.cah.ucf.edu/images/home2.png') no-repeat -208px 0px;
}

/* YUI Datatable */
.yui-skin-sam th.yui-dt-asc,
.yui-skin-sam th.yui-dt-desc {
    background-image: none;
    background-color: #0095CD;
}

.yui-skin-sam tr.yui-dt-even {
    background-color: #ffffff;
}

.yui-skin-sam tr.yui-dt-odd {
    background-color: #DFF7FF;
}

.yui-skin-sam tr.yui-dt-even td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
    background-color: #BFEEFF;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
    background-color: #9FE6FF;
}

.yui-skin-sam tr.yui-dt-highlighted,
.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc,
.yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #BFF0FF;
}

/* YUI Pagination */
.yui-skin-sam a.yui-pg-next:hover,
.yui-skin-sam a.yui-pg-previous:hover,
.yui-skin-sam a.yui-pg-page:hover,
.yui-skin-sam a.yui-dt-page:hover {
    background-color: #9FE6FF;
    border: 1px solid #00759F;
    color: #c60007;
}

.yui-skin-sam a.yui-pg-first:link, .yui-skin-sam a.yui-pg-first:visited, .yui-skin-sam a.yui-pg-first:active, .yui-skin-sam a.yui-pg-first:hover, .yui-skin-sam a.yui-pg-previous:link, .yui-skin-sam a.yui-pg-previous:visited, .yui-skin-sam a.yui-pg-previous:active, .yui-skin-sam a.yui-pg-previous:hover, .yui-skin-sam a.yui-pg-next:link, .yui-skin-sam a.yui-pg-next:visited, .yui-skin-sam a.yui-pg-next:active, .yui-skin-sam a.yui-pg-next:hover, .yui-skin-sam a.yui-pg-last:link, .yui-skin-sam a.yui-pg-last:visited, .yui-skin-sam a.yui-pg-last:active, .yui-skin-sam a.yui-pg-last:hover, .yui-skin-sam a.yui-pg-page:link, .yui-skin-sam a.yui-pg-page:visited, .yui-skin-sam a.yui-pg-page:active, .yui-skin-sam a.yui-pg-page:hover {
    color: #0095CD;
}

.yui-skin-sam .yui-pg-current-page,
.yui-skin-sam .yui-dt-selected {
    color: #00BCFF;
    border: 1px solid #00759F;
    background-color: #9FE6FF;
}

.yui-accordionview {
    margin-left: 0;
}

.yui-accordion-content p {
    padding: .5em;
}

.gutter {
    padding-right: 1.5em;
    border-right: 1px dotted #d5d6d6;
}

.yui-gc div.second {
    width: 28.6%;
    padding-top: .4em;
}

.yui-ge div.second {
    width: 20.5%;
    padding-top: .4em;
}

div.second div.directoryentry .first img {
    margin-right: .75em;
}

/* YUI tabview */

.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
    border-color: #0095CD;
}

.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    font-family: 'Myriad Pro', 'Trebuchet MS', Helvetica, Arial, sans-serif;
    background: #BFEEFF;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    background: #0095CD;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
    background: #BFF0FF;
}

.yui-skin-sam .yui-navset .yui-content {
    background-color: #DFF7FF;
}

.yui-skin-sam .yui-navset .yui-content,
.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
    border-color: #46CDFF;
}

/* YUI Carousel */
.yui-skin-sam .yui-carousel-nav {
    display: none;

}

.yui-skin-sam .yui-carousel, .yui-skin-sam .yui-carousel-vertical {
    border: none;

}

.yui-carousel .yui-carousel-item-selected {
    border: none;
    margin: 0;
}

.yui-carousel-element li {
    border: none;
    margin: 0;
    height: auto;
    width: 722px;
    height: 232px;
    border-radius: 15px;
}